@charset 'UTF-8';
body
{
    background-color: white;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

a
{
    outline: none;
}

header
{
    margin: 30px auto 40px;
}
header .description-site
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;

    width: 324px;
    padding-bottom: 10px; 

    text-transform: uppercase;

    border-bottom: 2px solid #e9e9e9;
}
header .contact
{
    float: left; 

    width: 150px;
}
header .contact .tel-item
{
    margin-bottom: 10px;
}
header .contact .tel-item .tel-icon
{
    float: left;

    margin-right: 5px;
}
header .contact .tel-item .tel-number
{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 
    font-weight: bold;
}
header .order
{
    margin-top: 16px; 
    margin-left: 168px;
}
header .order a
{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 600;

    padding: 13px 25px;

    text-align: center;
    text-decoration: none; 
    text-transform: uppercase;

    color: #5d4601;
    border: 1px solid #bfa44b;
    border-radius: 2px;
    background: linear-gradient(#e5c75a 50%, #dab74f 50%);
}

.tabic
{
    background: url('https://habrastorage.org/files/de0/0b1/7f4/de00b17f48004a67b737eb286e685e73.png') no-repeat;
    background-position: center center; 
    background-size: cover;
}
.tabic .tabic-nav li
{
    float: left;

    width: 50%;

    list-style: none;
}
.tabic .tabic-nav li:after
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    -webkit-transform: perspective(4px) rotateX(.2deg);
            transform: perspective(4px) rotateX(.2deg);
    -webkit-transform-origin: left;
            transform-origin: left;
}
.tabic .tabic-nav li a
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    font-weight: 600;

    display: block;

    padding: 10px 0;

    text-align: center;
    text-decoration: none; 
    text-transform: uppercase;

    color: white;
    border: none;
    background-color: rgba(0, 0, 0, .5);
}
.tabic .tabic-nav .tabic-active
{
    background: white;
}
.tabic .tabic-nav .tabic-active a
{
    cursor: default; 

    color: #52707d;
    outline: 1px solid #cecfd5;
    outline-offset: -1px;
    background: white;
}
.tabic .tabic-stage
{
    position: relative;
    top: -1px;

    clear: both;

    padding: 24px 30px;

    color: white; 
    border-top: 0;
}
.tabic .tabic-stage #tabic-1,
.tabic .tabic-stage #tabic-2
{
    text-align: right;
}
.tabic .tabic-stage #tabic-1 .order-one,
.tabic .tabic-stage #tabic-1 .order-two,
.tabic .tabic-stage #tabic-2 .order-one,
.tabic .tabic-stage #tabic-2 .order-two
{
    display: inline-block;

    width: 300px;
    margin-left: 70px; 
    padding: 20px;

    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 1px rgba(0, 0, 0, .45);
}
.tabic .tabic-stage #tabic-1 .order-one .o-icon,
.tabic .tabic-stage #tabic-1 .order-two .o-icon,
.tabic .tabic-stage #tabic-2 .order-one .o-icon,
.tabic .tabic-stage #tabic-2 .order-two .o-icon
{
    float: left;

    padding-top: 3px;
}
.tabic .tabic-stage #tabic-1 .order-one .o-title,
.tabic .tabic-stage #tabic-1 .order-two .o-title,
.tabic .tabic-stage #tabic-2 .order-one .o-title,
.tabic .tabic-stage #tabic-2 .order-two .o-title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;

    float: left;

    width: 200px;
    margin-left: 10px; 

    text-align: left;
    text-transform: uppercase;

    color: black;
}
.tabic .tabic-stage #tabic-1 .order-one form,
.tabic .tabic-stage #tabic-1 .order-two form,
.tabic .tabic-stage #tabic-2 .order-one form,
.tabic .tabic-stage #tabic-2 .order-two form
{
    display: inline-block;

    margin-top: 10px;
}
.tabic .tabic-stage #tabic-1 .order-one form input[type=text],
.tabic .tabic-stage #tabic-1 .order-two form input[type=text],
.tabic .tabic-stage #tabic-2 .order-one form input[type=text],
.tabic .tabic-stage #tabic-2 .order-two form input[type=text]
{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 40px;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 1pc;

    text-transform: uppercase;

    border: 1px solid #d9d9d9;
    border-radius: 3px;
    outline: 0;
    background: #fff;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
.tabic .tabic-stage #tabic-1 .order-one form input[type=submit],
.tabic .tabic-stage #tabic-1 .order-two form input[type=submit],
.tabic .tabic-stage #tabic-2 .order-one form input[type=submit],
.tabic .tabic-stage #tabic-2 .order-two form input[type=submit]
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;

    width: 100%;
    padding: 11px 25px;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: #5d4601;
    border: 1px solid #bfa44b;
    border-radius: 2px;
    outline: none;
    background: linear-gradient(#e5c75a 50%, #dab74f 50%);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

.navigation
{
    margin-top: 20px;
}
.navigation .nav-items
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}
.navigation .nav-items a
{
    font-size: 16px;

    display: table-cell; 

    padding: 15px 50px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #899fa9;
    border-top: 5px solid #ccc;
}
.navigation .nav-items a:first-child
{
    padding: 15px 39px;
}
.navigation .nav-items a:first-child:before
{
    position: absolute;
    top: 21px;

    width: 1px;
    height: 22px;
    margin-left: -39px; 

    content: '';

    background-color: #d9d9d9;
}
.navigation .nav-items a:before
{
    position: absolute;
    top: 21px;

    width: 1px;
    height: 22px;
    margin-left: -50px; 

    content: '';

    background-color: #d9d9d9;
}
.navigation .nav-items a:last-child:after
{
    position: absolute;
    top: 21px;

    width: 1px;
    height: 22px;
    margin-left: 50px; 

    content: '';

    background-color: #d9d9d9;
}
.navigation .nav-items a:hover
{
    color: #3c3c3b;
    border-top: 5px solid #899fa9;
}

.advantages .a-title
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;

    text-align: center;

    color: #474a56;
}
.advantages .a-title:before
{
    position: absolute;
    top: 16px; 
    left: 209px;

    content: url('https://habrastorage.org/files/432/794/877/43279487719142ea895cd8b679570c35.png');
}
.advantages .a-title:after
{
    position: absolute;
    top: 26px;
    right: 209px;

    content: url('https://habrastorage.org/files/432/794/877/43279487719142ea895cd8b679570c35.png');
    /* Для Firefox */
    /* Для IE */
    -webkit-transform: rotate(180deg);
    /* Для Safari, Chrome, iOS */
    /* Для Opera */
            transform: rotate(180deg);
}

.advantages .a-items .a-item
{
    float: left;

    width: 144px;
    margin: 0 6px;
}
.advantages .a-items .a-item img
{
    position: absolute;
    z-index: -999;
}
.advantages .a-items .a-item .a-info
{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;

    margin-top: 115px; 

    text-align: center;
    text-transform: uppercase;
}

.tabs
{
    margin-top: 30px;
    padding: 20px; 

    background: url('https://habrastorage.org/files/e1f/0d5/a17/e1f0d5a1701c44e0b230835d70be4d4e.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}
.tabs .left-tab
{
    display: inline-block;

    width: 440px;
    margin-top: 20px;
}
.tabs .right-tab
{
    display: inline-block;

    width: 440px;
    margin-top: 20px;
    margin-left: 16px;
}
.tabs .right-tab .tab1 table tr
{
    padding: 20px 15px;
}
.tabs .right-tab .tab1 table tr td
{
    padding: .8rem 1rem;
}
.tabs .right-tab .tab1 table tr td:first-child
{
    padding: .8rem 1rem;

    text-align: left;
}
.tabs .right-tab .tab1 table tr:nth-child(1) td:first-child
{
    padding: 1rem;

    text-align: left;
}
.tabs .tab1
{
    box-shadow: 0 0 1px rgba(0, 0, 0, .45);
}
.tabs .tab1 .title
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;

    padding: 10px 26px;

    text-transform: uppercase; 

    color: white;
    background-color: #9cafb7;
}
.tabs .tab1 table
{
    width: 100%;
    /* Ширина таблицы */

    border-collapse: collapse;
}
.tabs .tab1 table tr
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

    padding: 20px 15px; 

    text-transform: uppercase;
}
.tabs .tab1 table tr td
{
    padding: .8rem 1rem; 

    border: 1px solid #e7e7e7;
}
.tabs .tab1 table tr td:first-child
{
    padding: 0 5px;

    text-align: center;
}
.tabs .tab1 table tr:first-child
{
    font-weight: bold;
}
.tabs .tab1 table tr:nth-child(2n)
{
    background: #f8f8f3;
    /* Цвет фона */
}
.tabs .tab1 table tr:nth-child(odd)
{
    background: rgba(255, 255, 255, .8);
    /* Цвет фона */
}
.tabs .tab1 table tr:nth-child(1) td
{
    padding: 1rem;
}
.tabs .tab1 table tr:nth-child(1) td:first-child
{
    padding: 1rem 7px;

    text-align: center;
}

.me-work .m-title
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;

    text-align: center;

    color: #474a56;
}
.me-work .m-title:before
{
    position: absolute;
    top: 16px; 
    left: 209px;

    content: url('https://habrastorage.org/files/432/794/877/43279487719142ea895cd8b679570c35.png');
}
.me-work .m-title:after
{
    position: absolute;
    top: 26px;
    right: 209px;

    content: url('https://habrastorage.org/files/432/794/877/43279487719142ea895cd8b679570c35.png');
    /* Для Firefox */
    /* Для IE */
    -webkit-transform: rotate(180deg);
    /* Для Safari, Chrome, iOS */
    /* Для Opera */
            transform: rotate(180deg);
}

.me-work .m-items .m-item
{
    float: left;

    width: 144px;
    margin: 0 32px;
}
.me-work .m-items .m-item:first-child
{
    margin: 0 6px;
}
.me-work .m-items .m-item:last-child
{
    margin: 0 6px;
}
.me-work .m-items .m-item img
{
    position: absolute;
    z-index: -999;
}
.me-work .m-items .m-item .m-info
{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: bold;

    margin-top: 115px; 

    text-align: center;
    text-transform: uppercase;
}

.content h1
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    margin-bottom: 30px;
}

.content p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
}

.information
{
    margin-top: 8px;
    margin-left: 30px;
}
.information .i-icon
{
    float: left;
}
.information .i-title
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;

    margin-left: 33px;
}
.information .info-list
{
    margin-left: 33px;
}
.information .info-list ul li
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

    margin-bottom: 13px; 

    list-style-type: none;
}
.information .info-list ul li:before
{
    /* Добавляем в качестве маркера символ */
    margin-right: 23px; 

    content: url('https://habrastorage.org/files/84a/4c3/b0b/84a4c3b0b2cc4ab5afba7b04408c682d.png');
}
.information .tags
{
    margin-left: 33px;
}
.information .tags a
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

    display: inline-block;

    margin-bottom: 3px; 
    padding: 1px 3px;

    text-decoration: none;

    color: #474a56;
    background-color: #e1e4e5;
}
.information .tags a:hover
{
    color: white; 
    background-color: #96a9b1;
}
.information .news
{
    padding-top: 20px; 

    border-top: 5px solid #d9d9d9;
}
.information .news .n-icon
{
    float: left;
}
.information .news .n-title a
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;

    margin-left: 12px;

    text-decoration: none; 

    color: black;
}
.information .news .news-item
{
    display: inline-block; 

    margin-bottom: 25px;
}
.information .news .news-item .news-cover
{
    float: left; 

    width: 170px;
    height: 100px;
}
.information .news .news-item .news-cover img
{
    outline: 5px solid rgba(255, 255, 255, .7);
    outline-offset: -5px;
}
.information .news .news-item .news-meta
{
    float: left; 

    width: 240px;
    margin-left: 20px;
}
.information .news .news-item .news-meta .news-title
{
    margin-bottom: 10px;
}
.information .news .news-item .news-meta .news-title a
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;

    text-decoration: none; 

    color: black;
}
.information .news .news-item .news-meta .news-description
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;

    color: black;
}

.contact-form
{
    padding: 20px; 

    background: url('https://habrastorage.org/files/e1f/0d5/a17/e1f0d5a1701c44e0b230835d70be4d4e.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}
.contact-form .c-box
{
    padding: 20px; 

    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 1px rgba(0, 0, 0, .45);
}
.contact-form .c-box .booked .b-icon
{
    float: left;
}
.contact-form .c-box .booked .b-title
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;

    margin-left: 33px;
}
.contact-form .c-box form
{
    margin-top: 20px;
}
.contact-form .c-box form input[type=text]
{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 40px;

    box-sizing: border-box;
    width: 241px;
    padding: 0 1pc;

    text-transform: uppercase;

    border: 1px solid #d9d9d9;
    border-radius: 3px;
    outline: 0;
    background: #fff;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
.contact-form .c-box form input[type=submit]
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;

    padding: 11px 25px;

    cursor: pointer;
    text-align: center;
    text-transform: uppercase;

    color: #5d4601;
    border: 1px solid #bfa44b;
    border-radius: 2px;
    outline: none;
    background: linear-gradient(#e5c75a 50%, #dab74f 50%);

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

.footer
{
    padding: 22px 0; 

    background-color: #deddd8;
}
.footer .copyright .c-icon
{
    float: left;
}
.footer .copyright .c-text
{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;

    margin-left: 45px;
    padding-top: 3px; 

    color: #333;
}
.footer .tel-item
{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display:         inline-flex;

    margin-top: 10px; 
    margin-right: 10px;
}
.footer .tel-item .tel-icon
{
    float: left;

    margin-right: 5px;
}
.footer .tel-item .tel-number
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; 
    font-weight: bold;
}
.footer .social
{
    float: left; 

    margin-top: 5px;
}
.footer .social a
{
    text-decoration: none;
}
.footer .metrica
{
    float: left; 

    margin: 4px 16px 0;
}
.footer .multisite
{
    float: left; 

    margin-top: 6px;
}
